* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Department_page */
.container1 {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 15px 0;
    gap: 10px;
}

.department_location {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.loaction_dep {
    height: 100vh;
    width: 100vh;
    border-radius: 90px;
}

h2 {
    text-align: center;
    font-size: 30px;
    color: #ffffff;
}

.Gallery {
    flex-wrap: wrap;
    width: 48%;
    height: 100%;
    margin: 10px 0;
    border-radius: 50px;
    padding: 30px;
    transition: all 0.5s;
}

.container1 img:hover {

    transform: translateY(-20px);
    transform: scale(1.02);
}

iframe {
    padding: 50px;
}

.department_location {
    align-items: center;
    text-align: center;
    justify-content: center;

}

/* END_of_ Department_page */


.image img {

    width: 600px;
    height: 500px;
    padding: 30px;
    border-radius: 60px;


}

.text {
    width: 50%;
    color: #000000;
    font-size: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-left: 20px;
}

.text .about {
    padding-top: 20px;
}

.flexbox1 {
    display: flex;
    width: 100%;
    background-color: #00000054;
    justify-content: center;
    align-items: center;
    height: auto;
    margin: 40px 0;


}



/* .intro-threat1 {
    width: 50%;
    color: #000000;
    font-size: 25px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-left: 20px;
} */



/* .flexbox2 {
    display: flex;
    width: 100%;
    background-color: #B6C4B6;
    justify-content: center;
    align-items: center;
    height: auto;
    margin-top: 40px;
    margin-bottom: 20px;

} */

.image img {
    width: 600px;
    height: 500px;
    padding: 30px;
    border-radius: 60px;
    justify-content: center;
    align-items: center;
}

.wilpattu-images {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
}

@media(max-width: 1000px) {}

.Leopard_heading {
    margin: 30px 0 10px 0;
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
    text-transform: uppercase;
    color: #ffffff;
    text-align: center;
    padding: 50px;
}

@media (max-width: 768px) {
    #hero h1 {
        font-size: 28px;
        line-height: 36px;
    }
}

.threat-heading {
    margin: 30px 0 10px 0;
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
    text-transform: uppercase;
    color: #959595;
    text-align: center;
    padding: 50px;
}

.threat-head {
    color: #fafafa;
    padding: 20px;

}

.image-threat {
    width: 600px;
    height: 500px;
    padding: 30px;
    border-radius: 60px;
    float: left;
}

.intro-threat1 {
    font-size: 30px;
    width: 50%;
    text-align: center;
    align-items: center;
    float: right;
    padding: 10px;
    border: 1px solid;
}

.about-threat {
    color: #fafafa;
    font-size: 30px;
}

.flexbox2 {
    display: flex;
    width: 100%;
    background-color: #0e4e0e0e;
    justify-content: center;
    align-items: center;
    height: auto;
    margin: 40px 0;
    flex-direction: column;
    padding: 10px;
    border: 1px solid;
}

.threat1 {
    width: 100%;
    height: 100%;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
}

.threat2 {
    width: 100%;
    height: 100%;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;

}

.heading2 {
    font-weight: bolder;
    color: #EEF0E5;
}

.text {
    color: #EEF0E5;
    text-align: center;
    float: right;
    padding: 10px;
}

.about {
    text-align: center;
}

.image-deforest {
    width: 600px;
    height: 100%;
    padding: 30px;
    border-radius: 60px;

}

.button-fyi {
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    background-color: #ffffff5f;
    border-radius: 20px;
}

.heading1 {
    margin: 30px 0 10px 0;
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
    text-transform: uppercase;
    color: #ffffff;
    text-align: center;
    padding: 50px;
}

.indegenous {
    display: flex;
    width: 100%;
    background-color: #0e4e0e0e;
    justify-content: center;
    align-items: center;
    height: auto;
    margin: 40px 0;
    flex-direction: column;
    padding: 10px;

}

.animasl-heading {
    margin: 30px 0 10px 0;
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
    text-transform: uppercase;
    color: #959595;
    text-align: center;
    padding: 50px;
}

@media (max-width: 768px) {
    #hero h1 {
        font-size: 28px;
        line-height: 36px;
    }
}

@media(max-width: 375px) {
    body {
        height: max-content;
    }
}


body {
    height: 200%;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-color: #163020;
    font-family: sans-serif;
}

.navbar li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #eee;
}

.navbar a:hover {
    color: hsl(102, 47%, 34%);
}

header {
    position: relative;
    background-color: #163020;
    padding: 0 2rem;

}

.navbar {
    width: 100%;
    height: 69px;
    max-width: 1700px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    color: #000000;
}

.navbar .logo a {
    font-size: 1.5rem;
    font-weight: bold;
}

.navbar .links {
    display: flex;
    gap: 2rem;
    font-size: 20px;

}

.navbar .toggle_btn {
    color: #eee;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}



/*Dropdown_Menu*/
.dropdown_menu {
    display: none;
    position: absolute;
    right: 2rem;
    top: 60px;
    width: 300px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    border-radius: 0px 0px 10px 10px;
    overflow: hidden;
    transition: height .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown_menu.open {
    display: block;
}

.dropdown_menu li {
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown_links {
    padding: 30px;
}


/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
.section-heading {
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 9rem 2rem 0 2rem;
    position: relative;
    text-align: center;
    color: #eee;
}

#hero {
    width: 100%;
    height: 100vh;
    background: url(../img/pexels-pixabay-459449.jpg) top center;
    background-size: cover;
    position: relative;
}

@media (min-width: 1024px) {
    #hero {
        background-attachment: fixed;
    }
}

#hero:before {
    content: "";
    background: rgba(0, 0, 0, 0.6);
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
}

#hero .hero-container {
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

#hero h1 {
    margin: 30px 0 10px 0;
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
    text-transform: uppercase;
    color: #fafafa;
}


@media (max-width: 768px) {
    #hero h2 {
        font-size: 18px;
        line-height: 24px;
        margin-bottom: 30px;
    }

    #hero h1 {
        font-size: 28px;
        line-height: 36px;
    }

}

/*--------------------------------------------------------------
# Sections
--------------------------------------------------------------*/
.section-header .section-title {
    font-size: 32px;
    color: #111;
    text-transform: uppercase;
    text-align: center;
    font-weight: 700;
    margin-bottom: 5px;
}

.section-header .section-description {
    text-align: center;
    padding-bottom: 40px;
    color: #999;

}

/* About Us Section
--------------------------------*/
#about {

    padding: 0px 0;

}

#about .about-container .background {
    min-height: 300px;
    margin-bottom: 10px;

}

#about .container {
    display: flex;
    justify-content: center;
    align-items: center;


}

#about .about-container .content {
    background: #b6ab4400;
}

#about .about-container .title {
    color: #EEF0E5;
    font-weight: 700;
    font-size: 35px;
    justify-content: center;
    text-align: center;
    padding-top: 5%;
}

.about-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    width: 75%;
}

.intro {
    font-size: 2rem;
    justify-content: center;
    padding-top: 29px;
    text-align: center;
    padding-bottom: 50px;
    color: #EEF0E5;
    line-height: 3rem;
    padding: 29px 29px 50px 29px;
}

@media (max-width: 768px) {
    #about .about-container .title {
        padding-top: 15px;
    }
}

.national-parks {
    display: flex;
    align-items: center;
    gap: 20px;
    width: 100%;
    justify-content: center;
    height: 100vh;
}

.wilpattu {
    width: 100px;
    height: 100px;
    background-image: url(../img/pexels-darshak-pandya-625727.jpg);
    background-size: cover;
}

.content {
    justify-content: center;
    align-items: center;
}

.content a {
    text-decoration: none;
    padding: 15px;
    color: white;
    border-radius: 15px;
    font-size: 18px;
}

.yala {
    height: 60vh;
    width: 45%;
    background-image: url(../img/lions.jpg);
    background-size: cover;

}

.national-parks {
    display: flex;
    align-items: center;
    gap: 20px;
    width: 100%;
    justify-content: center;
    height: 100vh;
}

.wilpattu {
    width: 500px;
    height: 500px;
    background-image: url(../img/Bird\ 3.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 13px;
}

.content {
    position: relative;
    justify-content: center;
    align-items: center;
}



.btn {
    position: absolute;
    top: 410px;
    left: 20px;
    padding: 15px;
    background-color: #000000;
    color: white;
    border-radius: 15px;
    font-size: 18px;
}

.btn:hover {
    background-color: white;
    color: black;
}

.content h1 {
    color: #EEF0E5;
    margin-top: 20px;
    text-align: center;
}

.list {
    font-size: 2rem;
    font-family: sans-serif;
    /* padding-left: 2.5rem; */
    line-height: 4rem;
    text-align: center;
}



.yala {
    width: 500px;
    height: 500px;
    background-image: url(../img/lions.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 13px;
}

.about-parks {
    display: flex;
    justify-content: center;
    min-height: 50vh;
    color: #EEF0E5;
}



.section-heading {
    font-size: 50px;
}


.facts {
    display: flex;
    justify-content: center;
    min-height: 50vh;
    color: #000000;
    background-color: #B6C4B6;
    border-radius: px;
}

.facts-heading {
    justify-content: center;
    text-align: center;
    padding-bottom: 3rem;
    padding-top: 6rem;
    font-size: 50px;
}

.orderd {
    font-size: 1.1rem;
    justify-content: center;
}

/* footer section? */
.footer {
    padding: 40px 0;
    background-color: #ffffff;
}

.footer .social {
    text-align: center;
    padding-bottom: 25px;
    color: #000000;
}

.footer .social a {
    font-size: 24px;
    color: inherit;
    border: 1px solid #ffffff;
    width: 40px;
    height: 40px;
    line-height: 38px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    margin: 0 8px;
    opacity: 0.75;
}

.footer ul {
    margin-top: 0;
    padding: 0;
    list-style: none;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 0;
    text-align: center;
}

.footer ul li a {
    color: inherit;
    text-decoration: none;
    opacity: 0.8;
}

.footer ul li {
    display: inline-block;
    padding: 0 15px;
}

.footer ul li a:hover {
    opacity: 1;
}

.footer .copyright {
    margin-top: 15px;
    text-align: center;
    font-size: 13px;
    color: rgb(0, 0, 0);

}

/* RESPONSIVE  DESIGN*/
@media(max-width: 1092px) {
    .navbar .links {
        display: none;
    }

    .navbar .toggle_btn {
        display: block;
    }

    .dropdown_menu {

        z-index: 10;
    }

    @media (max-width: 576px) {
        .dropdown_menu {
            right: 2rem;
            width: 200px;
        }
    }
}

@media(max-width: 1564px) {
    .orderd {
        justify-content: center;
        align-items: center;
    }


}

@media(max-width :1024px) {
    .national-parks {
        display: grid;
    }

    .bullet-lists {
        display: flex;
        padding-top: 8rem;
        padding-left: 5rem;
    }

    .orderd {
        align-items: center;
        padding-left: 4.5rem;
    }
}

@media(max-width :768px) {
    .national-parks {
        display: grid;
    }

    .container1 {
        flex-direction: column;
    }

    .container1 img {
        width: 100%;
    }

    .park_head {
        padding-top: 50px;
    }

    .image img {
        width: 350px;
        height: 300px;
    }

}

@media(max-width: 880px) {
    .flexbox1 {
        flex-direction: column;
    }

    .text {
        width: 100%;
    }
}

@media (max-width: 768px) {
    /* .wilpattu {
        width: 400px;
        height: 400px;
    }
}

.yala {
    width: 400px;
    height: 400px;
} */


    @media(max-width: 1272px) {
        .text {
            padding: 40px;

        }
    }